worldclique
feed
user post timestamp
<h1 id="worldclique">worldclique</h1>
<div id="userwc">
	
	<div id="nameworld"><%= :username[@feeds] %></div>
	<div id="latest"><%= @feeds %></div>
	<div id="timeworld"><% :time[@feeds] %> </div>
</div>


<div id="linepopular"></div>
<div id="popular">
	
<h1 id="populartitle">Popular Eyeglobbers</h1>




</div>
