<div class="main-content">

<h1>Welcome to EyeGlobe</h1>

<form action="signin" method="Post">
	<p>
		<label for="email">Email</label>
		<input type="text" name="email">
	</p>
	<p>
		<label for="password">Password</label>
		<input type="password" name="password">
	</p>
	<p><input type="submit"></p>
	<button id="signup">Sign Up</button>
</form>
</div>